  <h1>タスク一覧</h1>
            
  <% if @tasks.any? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>id</th>
          <th>タスク</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @tasks.each do |task| %>
          <tr>
            <% if task.status=="未実施" %>
              <% status_color="danger" %>
            <% elsif task.status=="進行中" %>
              <% status_color="success" %>
            <% else task.status=="完了" %>
              <% status_color="primary" %>
            <% end %>
            <td><%= link_to task.id, task %></td>
            <td><%= task.content %></td>
            <td class="text-<%= status_color %>"><%= task.status %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div>
    <%= paginate @tasks %>  
    </div>
  <% end %>

  <%= link_to '新規タスクの登録', new_task_path, class: "btn btn-primary" %>

