<h1>id: <%= @task.id %> のタスク詳細ページ</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>id</th>
      <th>タスク</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <th><%= @task.id %></th>
    <td><%= @task.content %></td>
    <td><%= @task.status %></td>
  </tbody>
</table>
<%= link_to 'タスク一覧に戻る', root_path(@task), class: 'btn btn-light' %>
<%= link_to 'このタスクを編集する', edit_task_path(@task), class: 'btn btn-light' %>

<%= link_to 'このタスクを削除する', @task, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>